.header {
    margin: 0px;
    height: 250px;
    background-image: url("../images/blob.svg");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto auto;
    top: 0;
    border: 1px solid white;
}

.nav_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    margin-top: 10px;
}

.nav_logo {
    margin-left: 40px;
    margin-top: 10px;
    display: flex;
    font-size: larger;
}

.nav_links {
    margin-right: 40px;
    margin-top: 20px;
}

.nav-link-log-in {
    border: none;
    background-color: transparent;
    color: black;
    padding: auto;
    text-align: center;
    margin-right: 10px;
}

.nav-link-sign-up {
    border: none;
    background-color: black;
    color: white;
    padding: auto;
    height: 40px;
    width: 120px;
    border-radius: 50px;
}
