.header {
    width: 100%;
    background-color: black;
}

.nav_bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 40px;
    margin-left: 40px;
}

#nav-home {
    background-color: black;
    color: white;
    border: none;
    font-size: 20px;
}

#nav-schools {
    border: none;
    background-color: white;
    color: black;
    font-weight: 600;
    padding: 10px;
    border-radius: 20px;
    width: 100px;
    margin-left: 40px;
}

#nav-instructors {
    border: none;
    background-color: white;
    color: black;
    font-weight: 600;
    padding: 10px;
    border-radius: 20px;
    width: 100px;
    margin-left: 40px;
}

.nav_links button {
    margin: 10px;
}

#nav-link-log-in {
    border: 1px solid white;
    background-color: black;
    color: white;
    font-weight: 600;
    padding: 10px;
    border-radius: 20px;
    width: 100px;
}
