.footer {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 246, 246);
    width: 80%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
    padding: 20px;
}
.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-links button {
    background-color: transparent;
    color: black;
    border: none;
}

#footer_nav-home {
    background-color: transparent;
    color: black;
    border: none;
    font-size: 20px;
}

#footer_nav-home span {
    background-color: black;
    color: white;
    border-radius: 5px;
}

.footer-socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

 .footer button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 50px;
 }

.footer-copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.footer-copyright h4 {
    font-size: small;
    font-weight: 100;
    margin-left: 20px;
}

a {
    color: inherit;
    /* Makes the link color the same as the surrounding text */
    text-decoration: none;
    /* Removes underline from the link */
}

a:visited {
    color: inherit;
    /* Keeps the link color the same even after it has been visited */
}

a:hover,
a:active,
a:focus {
    color: inherit;
    /* Keeps the link color the same when hovered, clicked, or focused */
    text-decoration: none;
    /* Ensures no decoration is added on hover, click, or focus */
}
