.main {
    padding-top: 150px;
}

.login_section_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form[action="/login"][method="post"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

input[id="username"]::placeholder,
input[id="password"]::placeholder {
    text-align: center;
}

input[id="username"]:focus::placeholder,
input[id="password"]:focus::placeholder {
    color: transparent;
}

input[id='username'],
input[id='password'] {
    width: 200px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid grey;
    margin: 10px;
    text-align: center;
}

.login_section_signup {
    width: 150px;
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 50px;
}
