.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 200px;
    padding-top: 50px;
    overflow: scroll;
}
.school_ratings_section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 95%;
    /* margin-bottom: 50px; */
}

.school_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 225px;
    min-height: 350px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    background-color: rgb(255, 255, 255);
}
.scale_container {
    transition: transform 0.3s ease;
    box-sizing: border-box;
}
.scale_container:hover {
    transform: scale(1.05);
}

.school_info_container {
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    font-size: small;
    font-weight: 300;
}

.flipButton {
    border: 3px solid #fdf7d9;
    border-radius: 50px;
    height: 30px;
    width: 60%;
    background-color: transparent;
    margin: auto;
}

.flipButton:hover {
    background-color: #fdf7d9;
}

.noFlipButton {
    border: 3px solid blueviolet;;
    border-radius: 50px;
    height: 30px;
    width: 60%;
    background-color: transparent;
    margin: auto;
}

.school_name {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    min-height: 100px;
    position: relative;
    overflow: hidden;
}

.school_name::after {
    content: "";
    position: absolute;
    left: 5%;
    right: 5%;
    bottom: 10px;
    height: 2px;
    background: linear-gradient(to right, transparent, rgb(177, 126, 224), transparent);
}

.school_name h1 {
    text-align: center;
}

.school_info {
    bottom: 0;
}

.school_info_rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    margin-bottom: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.left_content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left_content h3 {
    margin-left: 5px;
}

.school_info_rating img {
    height: 30px;
    width: 30px;
}

/* gives padding to the card */
.content_wrapper {
    padding: 10px;
    padding-bottom: 15px;
}

/* Flip manuever */
.school_ratings_section {
    perspective: 1000px;
}

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.front {
    /* Front content styling */
    z-index: 2;
    transform: rotateY(0deg);
}

.back {
    /* Back content styling */
    transform: rotateY(-180deg);
}

.school_container.flipped {
    transform: rotateY(180deg);
}

/* Back side of card \/ */
/* Sliders for ratings on back of school cards */
.sliders_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
}
.sliders {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 65%;
    width: 100%;
}
.slider {
    -webkit-appearance: none;
    width: 80%;
    height: 10px;
    border-radius: 50px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background: white;
    border: 2px solid blueviolet;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: blueviolet;
    cursor: pointer;
}

#slider_submit {
    margin-top: 8px;
    border-radius: 50px;
    width: 30%;
}
